@page "/UserForm"

<h3>UserForm</h3>
<p class="text text-success">
    @result
</p>

<EditForm Model="@person" OnValidSubmit="HandleOnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            FirstName:
            <InputText @bind-Value="person.FirstName" />
        </label>
    </p>
    <p>
        <label>
            LastName:
            <InputText @bind-Value="person.LastName" />
        </label>
    </p>
    <p>
        <label>
            Age:
            <InputNumber @bind-Value="person.Age" />
        </label>
    </p>
    <p>
        <label>
            Give Concent:
            <InputCheckbox @bind-Value="person.GaveConcent" />
        </label>
    </p>
    <button type="submit" class="btn btn-primary">Submit </button>
</EditForm>

@code {
    private PersonModel person = new PersonModel();
    private string result = "";

    private void HandleOnValidSubmit()
    {
        result = "A valid user has been created.";
        person = new PersonModel();
    }
}
