@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Experimental Layout</a>
            <button class="btn btn-primary mx-2" @onclick=ThumbsUp>
                <span class="oi oi-thumb-up"></span> Approvals - @approvals
            </button>
            <button class="btn btn-primary mx-2" @onclick=ThumbsDown>
                <span class="oi oi-thumb-down"></span> Disapprovals - @disapprovals
            </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <footer class="text-center">
        @@Copyright @DateTime.Now.Year Juan's Company
    </footer>
</div>

@code{
    private int approvals = 0;
    private int disapprovals = 0;

    private void ThumbsUp()
    {
        approvals += 1;
    }
    private void ThumbsDown()
    {
        disapprovals += 1;
    }

}
